/*export default {
  // Prevent page scrolling when modal is open*/
    body: {
      overflow: "hidden"
    }

  /*// Modal wrapper*/
  .modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 1;
    animation: show .5s ease;
    overflow-x: hidden;
    overflow-y: auto
  }

  /*// Fade in open animation*/
  @keyframes show {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*// Modal itself*/
  .modal {
    width: 100%;
    background-color: #fff;
    box-shadow: [0, 0, 0.625rem, rgba(0, 0, 0, 0.2)];

    @media (min-width: 576px) {
      width: 32rem
    }
  }

  /*// Close button*/
  .closeButton {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: 0;
    box-shadow: [0, 0, 0.625rem, rgba(0, 0, 0, 0.2)];

    &:before, &:after {
      content: '';
      position: absolute;
      top: 1.2rem;
      left: 0.25rem;
      width: 2rem;
      height: 0.1rem;
      background-color: #888;
    }

    &:before: {
      transform: rotate(45deg)
    }

    &:after: {
      transform: rotate(-45deg)
    }

    &:hover:before, &:hover:after {
      backgroundColor: "#444"
    }
  }
