
body: {
  overflow: "hidden"
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 1;
  animation: show .5s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  transform: translate(40%, -40%);
  top: 0;
  right: 0;
}

.close-button img {
  width: 60px;
  height: 60px;
}

.container {
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  background: #FFF;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 12px 10px #888888;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 2.5rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.left-form {
  width: 100%;
  padding-right: 4rem;
}

.right-form {
  width: 100%;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 0 0rem 1.5rem 0;
}

.input-form input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid #FFCC33;
  padding-bottom: 0.3rem;
}

.input-form .agenda-title {
  padding-bottom: 0.5rem;
  width: 100%;
}

.button-array {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
}

button {
  outline: none;
  border-width: 0.1px;
  border-color: white;
  border-style: solid;
  cursor: pointer;
}

.date button {
  width: 16%;
  border-radius: 0.7rem;
  height: 2.2rem;
  background-color: #cccccc;
  color: #000000;
  opacity: 0.7;
}

.date .active {
  width: 16%;
  border-radius: 0.7rem;
  height: 2.2rem;
  background-color: #FFCC33;
  color: #ffff;
  opacity: 1;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2.5rem;
  width: 100%;
}

.submit-button button {
  font-size: 1rem;
  font-weight: 700;
  width: 25%;
  height: 2.2rem;
  border-radius: 0.5rem;
  background-color: #FFCC33;
  box-shadow: -2px 5px 10px #888888;
}

.submit-button button:active {
  box-shadow: -1px 3px 1px #666;
  transform: translateY(2px);
}
